@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
*{
    font-family: 'poppins', sans-serif !important;

}
.team-banner{
    /* background-image: url(/src/assets/image/team.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 150px 0; */
    position: relative;
    padding-top: 70px ;
}
.team-banner::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: linear-gradient(90deg, #001a3d 0, rgba(0, 26, 61, 0) 100%); */
}
.team-banner .tema-heading{
    position: relative;
    z-index: 9;
}
.team-heading h1{
    font-weight: 600;
    font-size: 29px;
    line-height: 39px;
    color: #000000;
    font-family: 'poppins', sans-serif !important;
}
.team-heading h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #ab6545;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif !important;

}
.team-banner .tema-heading p{
    color: #000000;
    font-size: 14px;
    font-family: 'poppins', sans-serif !important;
}

.team-banner a.getstartBtn {
    color: #000000;
    font-size: 16px;
    line-height: 5;
    position: relative;
    text-shadow: 8px -4px 2px rgb(151 151 151 / 60%);
}
.team-banner a.getstartBtn::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-top: 10px;
    box-shadow: 8px -4px 2px rgb(151 151 151 / 60%);
    
}
.team_section{
    margin: 50px 0;
}
.team-profile {
    position: relative;
    width: 220px !important;
    height: 260px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
}
.team-profile .team-img {
    position: relative;
    width: 100%;
    height: 86%;
    transition: all .4s;
    z-index: 99;
    transform: translateY(-60px);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */

}

.team-img img {
    width: 100%;
    height:initial;
    border-radius: 10px;
    transition: all .4s;
}
.team-profile:hover img{
    transform: scale(1.1);
}
.team-designation {
    text-align: center;
    transform: translateY(-48px);
    opacity: 1;
    transition: .6s;
}
.team-designation h3 {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-top: 6px;
}
.team-designation p {
    font-size: 10px;
    color: #0c52a1;
    margin: 2px 0 9px 0;
}
.team-designation .team-social-links a {
    color: #333;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
}
.row-our-team {
    row-gap: 50px;
}   
.team-heading{
    font-size: 30px;
    font-weight: 500;
}